extends layout 

block metas 
    title La Novena: Edición 
    meta(name="description", content="Edición de productos")

block content 
    main.editContainer 
        h1 Edición de producto 
        form.formulario(action=`/admin/update/${product.id}?_method=PUT` method="POST" enctype="multipart/form-data" )
            div.formularioSeccion
                label(for="name") Nombre: 
                input#name(type="text", name="name" value=product.name)
                if (error && error.name)
                    small.msgError #{error.name.msg}
            div.formularioSeccion
                label(for="category") Categoria: 
                select#category(name="category")
                    each cat in categories  
                        option(value=cat, selected=(cat === product.category)) #{cat}
                if (error && error.category)
                    small.msgError #{error.category.msg}
            div.formularioSeccion 
                label(for="description") Descripción
                if (error && error.description)
                    small.msgError #{error.description.msg}
                textarea(name="description", cols="30", rows="10")=product.description 
            div.formularioSeccion
                label(for="price") Precio: 
                if (error && error.price)
                    small.msgError #{error.price.msg}
                input#price(type="text", name="price" value=product.price)
            div
                label(for="order") ¿Por encargo?:
                label.encargoLabel(for="si") Si 
                input(type="radio", name="order", id="si", value="Si", checked=(product.sold === true ? true : false))
                label.encargoLabel(for="no") No    
                input(type="radio", name="order", id="no", value="No", checked=(product.sold === true ? false : true))
            div(class="uploadImg") 
                    label(for="image") Imagen
                    .containerImg(style=`background-image: url('/img/productos/${product.image ? product.image : 'no-image.png'}')`) 
                    input#imageUrl(type="file", name="image")
            div.editButtons 
                button(type="submit") Guardar 
                button(type="reset") Cancelar
        a(href="/admin") Volver