extends layout 

block metas 
    title La Novena: Creación de Producto 
    meta(name="description", content="Creación de Producto")

block content 
    main.editContainer 
        h1 Creación de Producto 
        form.formulario(action=`/admin/create` method="POST" enctype="multipart/form-data" )
            div.formularioSeccion
                label(for="name") Nombre: 
                input#name(type="text", name="name" )
                if (error && error.name)
                    small.msgError #{error.name.msg}
            div.formularioSeccion
                label(for="category") Categoria: 
                select#category(name="category")
                    each cat in categories 
                        option(value=cat) #{cat}
                if (error && error.category)
                    small.msgError #{error.category.msg}
            div.formularioSeccion 
                label(for="description") Descripción
                if (error && error.description)
                    small.msgError #{error.description.msg}
                textarea(name="description", cols="30", rows="10")
            div.formularioSeccion
                label(for="price") Precio: 
                if (error && error.price)
                    small.msgError #{error.price.msg}
                input#price(type="text", name="price")
            div
                label(for="order") ¿Por encargo?:
                label.encargoLabel(for="si") Si 
                input(type="radio", name="order", id="si", value="Si")
                label.encargoLabel(for="no") No    
                input(type="radio", name="order", id="no", value="No")
            div(class="uploadImg") 
                    label(for="image") Imagen
                    .containerImg(style=`background-image: url('/img/productos/no-image.png')`) 
                    input#imageUrl(type="file", name="image")
            div.editButtons 
                button(type="submit") Guardar 
                button(type="reset") Cancelar
                button(type="") Volver 
                    a(href="/admin") 